.article-items {

    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 2rem;
    justify-content: center;
    padding: 0.5rem;
    background-color: #fff;
    

}
.responsive {
    max-width: 18rem;
}



